<h1>UserMailer#code_confirmation</h1>

<p>
  <%= @greeting %>
  Please click on the following link to find your ticket.
  <%= link_to "click here", "http://localhost:3000?code=#{@user9.code}" %>
</p>
